@import "@/app/sass/variables.scss";

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $table-head-background-color;
  border-top: 2px double $table-border-color;

  button {
    background-color: #0000;
    border: 0px;
    font-size: 1em;
  }

  &__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__button {
    height: 2em;
    text-align: center;
    padding: 0.5em;
    color: $table-body-color;
    width: 100%;

    img {
      width: 1em;
    }

    &:disabled {
      opacity: 0.5;
    }
  }


  .current {
    font-weight: bold;
    background-color: mix($table-head-background-color, black, 90%);
  }
}