@import "@/app/sass/variables.scss";
@import "@/app/sass/mixin.scss";

.table {
  font-size: 0.8em;

  th {
    @include clickable($table-color-hover);

    &:first-child {
      background-color: $table-head-background-color;
      cursor: default;
    }
  }
}