// .#card-display {
//   display: flex;

//   flex-direction: column;
//   align-items: center;
//   margin-bottom: 10px;
//   font-family: 'Roboto Condensed', sans-serif;

//   .primary {
//     color: mix(#fff, $primary-color, 50%);
//     font-size: 20px;
//   }
// }

.main-card {
  display: flex;
}

.minor-card {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}


@mixin sparkle {
  z-index: 5;
  position: absolute;
  bottom: 0px;
  filter: hue-rotate(180deg) saturate(70%);
}

.sparkle--left {
  @include sparkle;
  left: -100px;
}

.sparkle--right {
  @include sparkle;
  right: -100px;
}

@mixin flame {
  z-index: 5;
  position: absolute;
  bottom: 0px;
  width: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

.flame--left {
  @include flame;
  left: -60px;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.flame--right {
  @include flame;
  right: -42px;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

@mixin success {
  z-index: 51;
  position: absolute;
  bottom: 0px;
  width: 50%;
  filter: hue-rotate(135deg);

  img {
    width: 100%;
    height: 100%;
  }
}

.success--left {
  @include success;
  left: -60px;
}

.success--right {
  @include success;
  right: -48px;
}


.cardBack {
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.cardBack__opening,
.cardBack__upgrade {
  position: absolute;
  z-index: 50;
}

.cardBack,
.cardBack__opening,
.cardBack__upgrade {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {

    width: 100%;
    height: 100%;
  }
}


@mixin cardBack__effect {
  top: 0px;
  opacity: 0;
  filter: invert(100%);

  img {
    filter: brightness(0%);
  }
}

.cardBack__opening {
  @include cardBack__effect;
  animation-name: scatter;
  animation-duration: 1s;

  @keyframes scatter {
    0% {
      opacity: 1;
      filter: drop-shadow(0px 0px 15px black) invert(100%);
    }

    50% {
      opacity: 1;
      filter: drop-shadow(0px 0px 15px black) invert(100%);
    }

    100% {
      opacity: 0;
      filter: drop-shadow(0px 0px 0px black) invert(100%);
    }
  }

}

.cardBack__upgrade {
  @include cardBack__effect;
  animation-name: upgrade;
  animation-duration: 2.1s;

  @keyframes upgrade {
    0% {
      opacity: 0;
      filter: drop-shadow(0px 0px 15px black) invert(100%);
    }

    50% {
      opacity: 1;
      filter: drop-shadow(0px 0px 15px black) invert(100%);
    }

    95% {
      opacity: 1;
      filter: drop-shadow(0px 0px 15px black) invert(100%);
    }

    100% {
      opacity: 0;
      filter: invert(100%);
    }
  }
}

// new
.playerCard {
  position: relative;
  width: 340px;
  height: 400px;
  z-index: 10;

  img {
    border: 0 none;
  }
}

.playerCard__small {
  position: relative;
  width: 170px;
  height: 200px;
  z-index: 10;

}


.playerCardWrap {
  position: absolute;
  width: 210px;
  height: 336px;
  z-index: 20;
  top: 32px;
  left: 65px;

  .playerCardInfoSide {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 240px;
    padding-left: 7px;
    padding-top: 58px;
    z-index: 2;


    .ovr {
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      width: 100%;
      margin-bottom: 11px;
      line-height: 29px;
      font-family: "INGAME";
    }

    .position {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      width: 100%;
      margin-bottom: 9px;
      line-height: 19px;
    }

    .pay {
      width: 100%;
      height: 34px;
      text-align: center;
      position: relative;

      svg {
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: 1;
        transform: translateX(-50%);
      }

      span {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        line-height: 36px;
        position: relative;
        z-index: 10;
        font-family: "INGAME";
      }
    }

  }

  .playerCardThumb {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 240px;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;

    .img {
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 0;

      &.action {
        img {
          width: 180px;
          height: 180px;
        }
      }

      &.head {
        img {
          width: 160px;
          height: 160px;
        }
      }
    }
  }

  .playerCardInfoBottom {
    position: absolute;
    top: 240px;
    left: 0;
    width: 100%;
    height: 96px;
    overflow: hidden;

    .nameWrap {
      padding-top: 10px;
      width: 100%;
      text-align: center;
      height: 34px;
      line-height: 24px;
      margin-bottom: 5px;
      text-wrap: nowrap;

      .season {
        margin-right: 5px;
        display: inline-block;
        vertical-align: top;

        img {
          height: 24px;
          vertical-align: top;
        }
      }

      .name {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        display: inline-block;
        white-space: nowrap;
        color: #141432;
        transform: translateY(8%);

        text-shadow: 1px 1px 0px white;
      }
    }

    .playerCardInfoSort {
      display: flex;
      height: 32px;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .nation .league .team {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .nation {
        img {
          width: 24px;
        }
      }

      .league {
        img {
          width: 32px;
        }
      }

      .team {
        img {
          width: 24px;
        }
      }
    }
  }


}




.playerCardWrap__small {
  position: absolute;
  width: 105px;
  height: 168px;
  z-index: 20;
  top: 16px;
  left: 32.5px;

  .playerCardInfoSide {
    position: absolute;
    top: 0;
    left: 0;
    width: 32.5px;
    height: 120px;
    padding-left: 3.5px;
    padding-top: 29px;
    z-index: 2;


    .ovr {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      width: 100%;
      margin-bottom: 5.5px;
      line-height: 14.5px;
      font-family: "INGAME";
    }

    .position {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      width: 100%;
      margin-bottom: 4.5px;
      line-height: 9.5px;
    }

    .pay {
      width: 100%;
      height: 17px;
      text-align: center;
      position: relative;

      svg {
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: 1;
        transform: translateX(-50%);

      }

      span {
        font-size: 10px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        line-height: 18px;
        position: relative;
        z-index: 10;
        font-family: "INGAME";
      }
    }

  }

  .playerCardThumb {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 120px;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;

    .img {
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 0;

      &.action {
        img {
          width: 90px;
          height: 90px;
        }
      }

      &.head {
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  .playerCardInfoBottom {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 48px;
    overflow: hidden;

    .nameWrap {
      padding-top: 5px;
      width: 100%;
      text-align: center;
      height: 17px;
      line-height: 12px;
      margin-bottom: 2.5px;
      text-wrap: nowrap;

      .season {
        margin-right: 2.5px;
        display: inline-block;
        vertical-align: top;

        img {
          height: 12px;
          vertical-align: top;
        }
      }

      .name {
        font-size: 9px;
        font-weight: 500;
        line-height: 12px;
        display: inline-block;
        white-space: nowrap;
        color: #141432;
        transform: translateY(8%);

        text-shadow: 1px 1px 0px white;
      }
    }

    .playerCardInfoSort {
      display: flex;
      height: 16px;
      justify-content: center;
      align-items: center;
      gap: 2.5px;

      .nation .league .team {
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .nation {
        img {
          width: 12px;
        }
      }

      .league {
        img {
          width: 16px;
        }
      }

      .team {
        img {
          width: 12px;
        }
      }
    }
  }
}



// --



.selector_wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  font-size: 28px;
  font-family: "EASANS";
  width: 58px;
  height: 36px;
  z-index: 10;

  box-sizing: border-box;
  background: linear-gradient(140deg, #51545a 0%, #51545a 0%, #42464d 100%);
  color: #c5c8c9;
  border: 1.5px solid #393a3c;
  border-top-color: #62676d;
  border-left-color: #62676d;
}

.selector_wrap__small {
  font-size: 14px;
  width: 29px;
  height: 18px;
}


.bronze {
  background: linear-gradient(140deg, #de946b 0%, #de946b 0%, #ad5f42 100%) !important;
  color: #7e3f27 !important;
  border: 1.5px solid #864229 !important;
  border-top-color: #e4b7a2 !important;
  border-left-color: #e4b7a2 !important;
}

.silver {
  background: linear-gradient(140deg, rgb(2, 0, 36) 0%, rgb(216, 217, 220) 0%, rgb(184, 189, 202) 100%) !important;
  color: #4e545e !important;
  border: 1.5px solid #a5a8ae !important;
  border-top-color: #d8dadc !important;
  border-left-color: #d8dadc !important;
}

.gold {
  background: linear-gradient(140deg, #f9dd62 0%, #f9dd62 0%, #dca908 100%) !important;
  color: #695100 !important;
  border: 1.5px solid #cda000 !important;
  border-top-color: #e9d36c !important;
  border-left-color: #e9d36c !important;
}

.question-mark {
  background: linear-gradient(140deg, #de946b 0%, #de946b 20%, rgb(184, 189, 202) 40%, rgb(184, 189, 202) 60%, #dca908 80%, #dca908 100%) !important;
  color: #4e545e !important;
  border: 1.5px solid #cda000 !important;
  border-top-color: #e4b7a2 !important;
  border-left-color: #e4b7a2 !important;
}




.ICON,
.ICONTM,
.ICONTM_B {
  color: #5d573d;
}

.BLD {
  color: #f1d698;
}

.BDO {
  color: #ffefc3;
}

._24EP,
._24ep {
  color: #ffff63;
}

.MDL {
  color: #283571;
}

.LD {
  color: #635549;
}

.JNM {
  color: #FFFFDB;
}

.DC {
  color: #FFDC96;
}

._23HW,
.CC {
  color: #f5ff51;
}

.RTN {
  color: #ffe9b5;
}

.BWC {
  color: #fdf4cd;
}

.RMCF {
  color: #031352;
}

.SPL {
  color: #80ffd6;
}

.LN {
  color: #dafd65;
}

.LOL {
  color: #fdaaea;
}

._23HR {
  color: #fef6c4;
}

._22HR {
  color: #aedefb;
}

.BTB {
  color: #fff94a;
}

.EBS {
  color: #ede7ad;
}

.BOE21 {
  color: #530815;
}

.NTG {
  color: #957d54;
}

.UP {
  color: #58ffd6;
}

.MC {
  color: #080d39;
}

.VTR {
  color: #f1debd;
}

.MOG {
  color: #ff8125;
}

._22NG {
  color: #ffe066;
}

._21NG {
  color: #f5ff4e;
}

._20NG {
  color: #faff51;
}

._19NG {
  color: #befd74;
}

.OTW {
  color: #fc5461;
}

.COC {
  color: #ffdc74;
}

.HOT {
  color: #fe2b38;
}

.MCICON {
  color: #0f69af;
}

.GR {
  color: #61521a;
}

.TT {
  color: #d3c070;
}

.TB {
  color: #2a2c2e;
}

._24TY,
._24toty,
._24TOTY,
._23TY,
._23toty,
._23TYN,
._23totn,
._22TY,
._22toty,
._22TYN,
._22totn,
._21TY,
._21toty,
._21TYN,
._21totn,
._20TY,
._20toty,
._20TYN,
._20totn,
._19TY,
._19toty {
  color: #ffee90;
}

._18TY {
  color: #d0b361;
}

._23TS,
._23tots,
._23TOTS,
._22TS,
._22tots,
._22TOTS,
._21TS,
._21tots,
._21TOTS,
._20TS,
._20tots,
._20TOTS,
._19TS,
._19tots,
._19TOTS {
  color: #eedc82;
}

._24TS,
._24tots,
._24TOTS {
  color: #f1f1a7;
}

.LH {
  color: #f6b3a3;
}

.MCFC {
  color: #00285e;
}

._12KH,
._22KB,
._21KB,
._20KB {
  color: #e4d58c;
}