@import "@/app/sass/variables.scss";

.nav {
  position: relative;
  z-index: 102;
}

.nav-wrap {
  position: relative;
  z-index: 100;

  cursor: pointer;
  align-items: center;
  text-align: center;

  width: 1.5rem;
  height: 1.5rem;

  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.navicon {

  position: relative;

  &::before,
  &::after,
  div {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5rem;
    height: 0.25rem;
    background: #07f468;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &::before {
    top: 0.5rem;
  }

  &::after {
    top: -0.5rem;
  }
}

.close {
  &::before {
    top: 0rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &::after {
    top: 0rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}

.ul {
  z-index: 103;
  position: absolute;
  top: 100%;
  right: 0.5rem;

  display: flex;
  flex-direction: column;
  background-color: $background-color;
  border-radius: 0.5em;
  padding: 0.5em;
  border: $border-color 1px solid;

  li {
    background-color: $background-color;


    &:last-child {
      border-bottom: none;
    }

    .link-item {
      padding: 1em;
      color: $text-color;
      margin-left: 1em;
      border-bottom: $border-color 1px solid;
    }
  }

  .category {

    padding: 1em;
    color: $primary-color-50;
    border-bottom: $border-color 1px solid;
  }


  transform: all;

  @mixin square {
    content: "";
    position: absolute;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    display: block;
    z-index: 100;
  }

  &::before {
    @include square;
    top: -11px;
    border-color: $border-color transparent;
  }

  &::after {
    @include square;
    top: -10px;
    border-color: $background-color transparent;
  }
}

.hidden {
  display: none;
}

.full-screen {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.336);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  border: 0 !important;
  overflow: hidden;
}