@import '@/app/sass/variables.scss';


.notice-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  background-color: mix($background-color, $primary-color, 50%);
}

.notice__inner-wrap {
  width: 100%;
  background-color: mix($background-color, $primary-color, 50%);
  margin-right: 2.5rem;
}

.notice__close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: mix($background-color, $primary-color, 50%);
  padding: 0.75rem;
  margin: none;
  border: none;
  color: black;
  font-weight: bold;
}

.notice__content {
  padding: 0.75rem;
  color: $text-color;
}