@font-face {
  font-family: 'EASANS';
  src: url('/assets/fonts/EASPORTS15.ttf') format('truetype'),
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "INGAME";
  font-weight: 300;
  src: url('/assets/fonts/oswald.light.ttf') format('truetype'),
}

@font-face {
  font-family: "INGAME";
  font-weight: 400;
  src: url('/assets/fonts/oswald.regular.ttf') format('truetype'),
}

@font-face {
  font-family: "INGAME";
  font-weight: 700;
  src: url('/assets/fonts/oswald.bold.ttf') format('truetype'),
}
