@import '@/app/sass/variables.scss';

.footer {
  width: 100%;
  padding-bottom: 1em;
  font-size: 0.8rem;
  text-align: center;
  // background-color: black;
}

.masthed {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.masthed__inner-wrap {
  height: $navigation-height;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.middle {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  // font-weight: 500;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  .logo {
    width: 2em;
    height: 2em;
    // margin-right: 0.5em;
  }
}

// .content-wrap {
//   height: calc(100vh - $header-height - $nav-height - 2px);
// }

.content {
  display: flex;
  flex-direction: column;

  max-width: $medium;

  @media (max-width: $x-large) {
    max-width: $small;
  }

  // >h1

  // @media (max-width: $large) {
  //   max-width: $x-small;
  // }

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 3rem;
  margin-bottom: $nav-height;
  overflow-y: auto;

  margin-left: auto;
  margin-right: auto;
}