.ICON,
.ICONTM,
.ICONTM_B {

  .ovr,
  .position {
    color: #928445;
  }
}

._24EP,
._24ep {

  .ovr,
  .position {
    color: #ffff63;
  }
}

.MDL {

  .ovr,
  .position {
    color: #283571;
  }
}

.LD {

  .ovr,
  .position {
    color: #635549;
  }
}

.JNM {

  .ovr,
  .position {
    color: #FFFFDB;
  }
}


.DC {

  .ovr,
  .position {
    color: #FFDC96;
  }
}

._23HW,
.CC {

  .ovr,
  .position {
    color: #f5ff51;
  }
}

.RTN {

  .ovr,
  .position {
    color: #ffe9b5;
  }
}

.BWC {

  .ovr,
  .position {
    color: #fdf4cd;
  }
}

.RMCF {

  .ovr,
  .position {
    color: #031352;
  }
}

.SPL {

  .ovr,
  .position {
    color: #80ffd6;
  }
}

.LN {

  .ovr,
  .position {
    color: #dafd65;
  }
}

.LOL {

  .ovr,
  .position {
    color: #fdaaea;
  }
}

._23HR {

  .ovr,
  .position {
    color: #fef6c4;
  }
}

._22HR {

  .ovr,
  .position {
    color: #aedefb;
  }
}

.BTB {

  .ovr,
  .position {
    color: #fff94a;
  }
}

.EBS {

  .ovr,
  .position {
    color: #ede7ad;
  }
}

.BOE21 {

  .ovr,
  .position {
    color: #530815;
  }
}

.NTG {

  .ovr,
  .position {
    color: #957d54;
  }
}

.UP {

  .ovr,
  .position {
    color: #58ffd6;
  }
}

.MC {

  .ovr,
  .position {
    color: #080d39;
  }
}

.VTR {

  .ovr,
  .position {
    color: #f1debd;
  }
}

.MOG {

  .ovr,
  .position {
    color: #ff8125;
  }
}

._22NG {

  .ovr,
  .position {
    color: #ffe066;
  }
}

._21NG {

  .ovr,
  .position {
    color: #f5ff4e;
  }
}

._20NG {

  .ovr,
  .position {
    color: #faff51;
  }
}

._19NG {

  .ovr,
  .position {
    color: #befd74;
  }
}

.OTW {

  .ovr,
  .position {
    color: #fc5461;
  }
}

.COC {

  .ovr,
  .position {
    color: #ffdc74;
  }
}

.HOT {

  .ovr,
  .position {
    color: #fe2b38;
  }
}

.MCICON {

  .ovr,
  .position {
    color: #0f69af;
  }
}

.GR {

  .ovr,
  .position {
    color: #61521a;
  }
}

.TT {

  .ovr,
  .position {
    color: #d3c070;
  }
}

.TB {

  .ovr,
  .position {
    color: #2a2c2e;
  }
}

._23TY,
._23TYN,
._22TY,
._22TYN,
._21TY,
._21TYN,
._20TY,
._20TYN,
._19TY {

  .ovr,
  .position {
    color: #ffee90;
  }
}

._18TY {

  .ovr,
  .position {
    color: #d0b361;
  }
}

._24TS,
._24tots {

  .ovr,
  .position {
    color: #f1f1a7;
  }
}

._23TS,
._22TS,
._21TS,
._20TS,
._19TS {

  .ovr,
  .position {
    color: #eedc82;
  }
}

.LH {

  .ovr,
  .position {
    color: #f6b3a3;
  }
}

.MCFC {

  .ovr,
  .position {
    color: #00285e;
  }
}

._12KH,
._22KB,
._21KB,
._20KB {

  .ovr,
  .position {
    color: #e4d58c;
  }
}