@import '@/app/sass/variables.scss';

.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.8rem;

  li {
    text-align: center;
    width: 6rem;
    margin-bottom: 1em;

    >* {
      margin-bottom: 0.25em;
    }
  }

  img {
    width: 100%;
    max-height: 100px;
    max-width: 100px;
    height: auto;
  }
}

.info {
  margin-left: 0.5em;

  &__title {
    &::before {
      content: '●';
      font-size: 0.5em;
      // color: $primary-color;
      margin-right: 0.5em;
      line-height: 20%;
    }

    border-bottom: 1px solid $border-color;
  }
}